nav a {
  margin: 10px 5px;
  text-decoration: none;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form input {
  margin: 10px 20px;
  height: 30px;
  width: 30%;
}

form button {
  width: 30%;
  border-style: none;
  border-radius: 10px;
  background-color: rgb(137, 178, 221, 0.8);
  color: white;
}

p {
  color: red;
  font-size: 15px;
}
